*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

/*Global CSS*/
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.commune-btn {
    font-size: 20px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.commune-btn-2 {
    font-size: 20px;
    color: #FD6E0A;
    background-color: #ffffff;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.section-bg-color {
    background-color: #FFF8F3;
}
p {
    font-size: 18px;
    color: #474747;
}
h4 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.about-me-parent, .what-i-do-parent {
    margin: 100px auto;
}
/*Global CSS End*/





/*Menebar*/
.header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-parent-left h2 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
}
.header-parent-left span {
    color: #FD6E0A;
}
.header-parent-right ul {
    display: flex;
    align-items: center;
    gap: 70px;
}
.header-parent-right ul li a {
    font-size: 20px;
    color: #474747;
}
.header-parent-right ul li a:hover {
    color: #FD6E0A;
    transition: 0.3s;
}
/*Menebar end*/


/*Banner section*/
.banner-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 837px;
}
.banner-parent-left h3 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
.banner-parent-left h1 {
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.banner-parent-left button {
    margin-right: 20px;
    margin-top: 30px;
}
.banner-bg {
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* .hardy-img {
    
} */
/*Banner section end*/



/*About section*/
.about-me-parent {
    background-color: #FFF8F3;
    text-align: center;
    border-radius: 10px;
}
.about-box {
    padding: 100px 220px;
}
.about-me-parent .about-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.about-me-parent .about-child h5 {
    font-size: 20px;
    color: #474747;
}
/*About section end*/


/*What I do section*/
.what-i-do-parent {
    text-align: center;
}
.what-i-do-parent .what-i-do-firstchild {
    margin: 0 180px;
}
.what-i-do-card-groups {
    display: flex;
    gap: 25px;
    text-align: left !important;
    margin-top: 50px;
}
.single-card h5 {
    font-size: 20px;
    color: #181818;
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.single-card {
    border-radius: 5px;
    box-shadow: 6px 0 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
/*What I do section end*/